body{
    display: flex;
flex-direction: column;
flex: auto;
}
.logo{
font-size:large;
font-size: 30px;
text-decoration:none;
color:maroon;
}
main{
display: flex;
flex-direction:row;
height:auto;
width:auto;
flex:auto;}
article{
flex: 2;
overflow-y:auto;
margin: 0 auto;
}
aside{
flex:1;
overflow-y: auto;
}